@model TaskilyWeb.Models.Organisation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organisation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrialDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrialDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
